extends layout

block content
    //- h1 View Single Image
    div.imageWrapper
        img.singleImage(src="/images/view/" + image)
        div.singleImage.download
            a.download.btn(href="/images/" + image, target="_blank", download=image) Download